.item-post
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    border: 1px solid green;
    width: 50%;
    
}

.postContent
{
    display: flex;
    width: 90%;
}
.links-s
{
    display: flex;
    justify-content: space-around;
}