.main-s
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-s
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#password, #loginName
{
    margin: 10px auto;
}

#login-btn
{
    background-color: green;
    color: white;
}